<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render "shared/error_messages", :target => @product %>

<%= form_for(:product,  :url => collection_url, :html => { :multipart => true }) do |f| %>
<fieldset>

  <%= f.hidden_field :name, :value => 'Temp Value' %>

  <div class="yui-gb">
    <div class="yui-u first">

      <% unless @product.has_variants? %>
      <% 
      	@mas_products = MasProduct.all(:order => 'ItemNumber')
      	@existing_products = MasProduct.all(:joins => :product, :conditions => 'products.deleted_at is NULL')
      	@new_products = @mas_products - @existing_products
      %>
      <%= f.field_container :sku do %>
        <%= f.label :sku, t("sku") %><br />
        <%= f.collection_select :sku, @new_products, :ItemNumber, :ItemNumber, :include_blank => '-Unassigned-' %>
        <%= f.error_message_on :sku %>
      <% end %>
      <% end %>

      <p>
        <%= f.label :prototype_id, t("prototype") %><br />
        <%= f.collection_select :prototype_id, Prototype.all, :id, :name, :include_blank => true %>
      </p>

    </div>
    <div class="yui-u">

      <%= f.hidden_field :price, :value => 0 %>

      <p>
        <%= f.label :available_on, t("available_on") %><br />
        <%= f.error_message_on :available_on %>
        <%= f.spree_date_picker :available_on, :style=>"width:150px" %>
      </p>


    </div>
  </div>

  <%= render :partial => 'admin/shared/new_resource_links' %>

</fieldset>
<% end %>
<%= javascript_tag "datePickerController.create();" %>

<script type="text/javascript">    
jQuery("#product_sku").change(function() {
	product_sku = $(this).val();

	$.ajax({
		url: "/mas_products/" + product_sku + ".json",
		success: function(data) {
				$("#product_name").val(data['mas_product'].ItemDescription);
				$("#product_price").val(data['mas_product'].StdPrice);
		  }
  	});
 }); 
</script>

